
 body{
     background: rgb(239, 239, 239);
 }
 

.focus-cls:focus
{
    background:darkblue !important ;

}

.someclass {
    display: flex;
    flex-direction: row-reverse;
}
img{
    width:200px;
    height:100px;
}

