
 body{
     background: rgb(239, 239, 239);
 }
 

.active,.focus-cls:focus,.focus-cls:hover
{
    background:darkblue !important ;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;

}


.someclass {
    display: flex;
    flex-direction: row-reverse;
}
img{
    width:200px;
    height:100px;
}

